{% extends 'base.html' %}
{% block content %}
<div class="graph-container">
    <div class="select-container">
        <label id="aug-label" for="aug-select">증강 기법 : </label>
        <select class="aug-select">
            <option value="default" selected disabled>선택</option>
            <option value="aug1">문장 구조 변경</option>
            <option value="aug2">노이즈 추가</option>
            <option value="aug3">단어 대체</option>
            <option value="aug4">문맥적 삽입</option>
        </select>
        <button class="my-btn aug-button">적용</button>
    </div>
    <div class="row">
        <div class="card col-lg-6">
            <div class="card-body">
                <div class="card-title" id="tsne-title">
                    <h5>Perplexity 지표</h5>
                </div>
                <div id="perplexity"></div>
            </div>
        </div>
        <div class="card col-lg-6">
            <div class="card-body">
                <div class="card-title" id="tsne-title">
                    <h5>T-SNE</h5>
                </div>
                <div id="tsne"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-lg-4">
            <div class="card-body">
                <div id="chatbot-title">
                    <h5>증강 데이터 예시</h5>
                </div>
                <div id="augdata"></div>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body">
                <div class="card-title" id="chatbot-title">
                    <h5>챗봇</h5>
                </div>
                <div class="chatbot-container">
                    <div class="input-container">
                        <textarea class="chatbot-input" placeholder="질문을 입력하세요." rows="5" cols="50" resize="none"></textarea>
                        <button class="my-btn chatbot-button">
                            <img src="{{ url_for('static', filename='arrow_down.png') }}" alt="전송">
                        </button>
                    </div>
                    <div class="output-container">
                        <p class="chatbot-output">여기에 답변이 표시됩니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body">
                <div class="card-title" id="utility-title">
                    <h5>유틸리티</h5>
                </div>
                <div class="utility-container">
                    <div class="csv-download">
                        <p class="csv-download-text">증강 데이터셋 다운로드</p>
                        <button class="my-btn csv-download-button">다운로드</button>
                    </div>
                    <div class="dataset-load">
                        <input type="file" id="dataset-input" class="form-control" accept=".csv">
                        <button class="my-btn load-dataset-button">다른 데이터셋 로드</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
<script src="{{ url_for('static', filename='js/utility.js') }}"></script>
<script src="{{ url_for('static', filename='js/updateDashboard.js') }}"></script>
{% endblock %}
